@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@media screen and (min-width:0px) and (max-width:480px){
    body{
        margin: 0px;
    }

    header{
        margin: 0px;
        padding: 0px;
        background-color: rgba(19, 153, 210, 1) ;
    }
    h1{ 
        margin: 0px;
        text-align: center;
        font-family:'Tangerine', cursive;
        font-weight: normal;
        letter-spacing: 0.065em;
        font-size:40px;
        color: white;
        position: relative;
        top: 30px;
    }
    .perfil{
        display: block;
        margin: auto;
        position:relative;
        top: 50px;
    }
    .elipse{
        display: block;
        margin: auto;
    }
    .imgelipse{
        height: 95px;
    }
    .linea {
        border-top: 2px solid rgba(187, 187, 187, 1);
        height: 2px;
        max-width: 200px;
        padding: 0;
        margin: 2px auto 5px auto;
        position:relative;
        right: 60px;
      }
    .nombre{
        text-align: center;
        font-family:'Tangerine', cursive;
        font-weight: normal;
        letter-spacing: 0.04em;
        color: rgba(19, 153, 210, 1);
        font-size: 53px;
        margin: 0px;
    }
      .linea2 {
        border-top: 2px solid rgba(187, 187, 187, 1);
        height: 2px;
        max-width: 200px;
        padding: 0;
        margin: 0px auto 0 auto;
        position: relative;
        left: 60px;
      }
    .import{
        text-align: center;
        margin-top: 35px;
        padding: 0px 60px 0px 60px;
        color:rgba(91, 91, 91, 1);
        font-family: 'georgia', serif;
        font-style: italic;
        line-height: 157.02%;
        letter-spacing: 0.025em;
        font-size: 17px;
    }
    .png1{
        position: absolute;
        width: 45px;
    }
    .png2{
        float: right;
        position: relative;
        bottom: 181px;
        width: 53px;
    }
   
    .misylinea{
        display: flex;
        margin-top:55px;
    }
     .lineades1{
        border-top: 2px solid rgba(19, 153, 210, 1) ;
        height: 2px;
        max-width: 164px;
        padding: 0px 80px 0px 80px;
        margin: 0px 30px 0 30px;
        align-self: center;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.16);
    }
    h2 {
        color: rgba(7, 124, 189, 1);
        font-family:'Tangerine', cursive;
        font-size: 55px;
        font-weight: normal;
        letter-spacing: 0.025em;
        margin: 6px 0px;
    }
    .mision2{
        display: flex;
        align-items: center;
    }
    .png3{
        width:164px;
        height: 107px;
        margin: 0px 0px 0px 18px;
    }
    section .mision2 >p{
        margin: 0px -34px 0px 6px;
        text-align: center;
        font-family: Georgia;
        font-style: italic;
        color: rgba(91, 91, 91, 1);
        font-size: 15px;
        letter-spacing:0.025em ;
        line-height: 19px;
    }
    .visylinea{
        display: flex;
        margin-top:19px;
    }
    .lineades2{
        border-top: 2px solid rgba(19, 153, 210, 1) ;
        height: 2px;
        max-width: 164px;
        padding: 0px 80px 0px 80px;
        margin-left: 64px;
        align-self: center;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.16);
    }
    section .vision2 >p{
        margin: 0px 20px 7px 20px;
        text-align: center;
        font-family: Georgia;
        font-style: italic;
        color: rgba(91, 91, 91, 1);
        font-size: 15px;
        letter-spacing:0.025em ;
        line-height: 19px;
    }
    .vision2{
        display: flex;
        align-items: center;
        margin-top: -10px;
    }
    .png4{
        width:168px;
        height: 90px;
        margin: 0px 20px 27px 0px;
    }
    .titulo2{
        margin-left: 58px;
        padding-bottom: 8px;
    }
    .valylinea{
        display: flex;
        margin-top:10px;
    }
    .lineades3{
        border-top: 2px solid rgba(19, 153, 210, 1) ;
        height: 2px;
        max-width: 164px;
        padding: 0px 80px 0px 80px;
        margin: 0px 42px 0 30px;
        align-self: center;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.16);
    }
    .valor3{
        display: flex;
        align-items: center;
    }
    section .valor3 >p{
        margin: 0px 20px 7px 20px;
        text-align: center;
        font-family: Georgia;
        font-style: italic;
        color: rgba(91, 91, 91, 1);
        font-size: 15px;
        letter-spacing:0.025em ;
        line-height: 19px;
    }
    .divisor{
        border-top: 1px solid rgba(19, 153, 210, 1);
        max-width: 315px;
        margin: 47px auto 47px auto;
    }
    h3{
        padding: 0px 40px;
        text-align: center;
        font-family: 'georgia', serif;
        font-style: italic;
        color: rgba(91, 91, 91, 1);
        line-height: 150.52%;
        letter-spacing: 0.035em;
        font-weight: 400;
        font-size: 18px;
    }
}
          


